<footer class="footer">
  <div class="container">
    <div class="footer-discription">
      <p class="footer-section-text">
        <span class="base-name">Chocolate</span> a delicious cure for a bad day
      </p>
      <div class="contacts">
        <p class="subtitle-footer">Contact us</p>
        <address>
          <ul class="contacts-list">
            <li class="contacts-item">
              <a href="tel:+380684439426" class="contact-link"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="contacts-item">
              <a href="mailto:simplychoc@gmail.com" class="contact-link"
                >simplychoc@gmail.com</a
              >
            </li>
          </ul>
        </address>
        <ul class="social-list-icon">
          <li class="icon-list">
            <svg class="social-icon" width="22" height="22">
              <use href="../img/symbol-defs.svg#instagram"></use>
            </svg>
          </li>
          <li class="icon-list">
            <svg class="social-icon" width="22" height="22">
              <use href="../img/symbol-defs.svg#twitter"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
    <div class="create-line"></div>
    <div class="footer-menu">
      <ul class="footer-menu-list">
        <li class="menu-list-item">
          <a class="menu-list" href="#home">Home</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-list" href="#how-it's-made?">How it's made?</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-list" href="#our-products">Our products</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-list" href="#top-sellers">Top sellers</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-list" href="#chocolate-is-loved">Chocolate is loved</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
