<header class="header">
  <div class="container page-header">
    <div class="header-logo">
      <a href="../index.html" class="header-logo-link link">SIMPLY CHOCOLATE</a>
      <svg class="header-icon" width="24" height="24">
        <use href="../img/symbol-defs.svg#icon-header-logo-mob"></use>
      </svg>
    </div>

    <nav class="header-nav">
      <ul class="header-menu-list list">
        <li class="header-menu-item">
          <a href="#!" class="header-menu-link link">Home</a>
        </li>
        <li class="header-menu-item">
          <a href="#!" class="header-menu-link link">How it's made?</a>
        </li>
        <li class="header-menu-item">
          <a href="#!" class="header-menu-link link">Our products</a>
        </li>
        <li class="header-menu-item">
          <a href="#!" class="header-menu-link link">Top sellers</a>
        </li>
        <li class="header-menu-item">
          <a href="#!" class="header-menu-link link">Chocolate is loved</a>
        </li>
      </ul>

      <ul class="header-social-list list">
        <li class="header-social-item">
          <a href="#!" class="header-social-link">
            <svg class="header-social-icon" width="30" height="30">
              <use href="../img/symbol-defs.svg#icon-header-instagram-mob"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a href="#!" class="header-social-link">
            <svg class="header-social-icon" width="30" height="30">
              <use href="../img/symbol-defs.svg#icon-header-twitter-mob"></use>
            </svg>
          </a>
        </li>
      </ul>

      <div class="header-close">
        <span class="header-close-line"></span>
        <span class="header-close-line"></span>
      </div>
    </nav>

    <div class="header-burger burger js-open-menu">
      <span class="burger-line burger-line-first"></span>
      <span class="burger-line burger-line-second"></span>
      <span class="burger-line burger-line-third"></span>
    </div>
    <ul class="header-social-list-desk list">
      <li class="header-social-item">
        <a href="#!" class="header-social-link">
          <svg class="header-social-icon" width="30" height="30">
            <use href="../img/symbol-defs.svg#icon-header-instagram-desk"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a href="#!" class="header-social-link">
          <svg class="header-social-icon" width="30" height="30">
            <use href="../img/symbol-defs.svg#icon-header-twitter-desk"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
