<header class="header">
  <div class="container page-header">
    <div class="header-logo">
      <a href="./index.html" class="header-logo-link">
        <span class="choco-logo">
          SIMPLY <span class="part-logo">CHOCOLATE</span>
        </span>
        <svg class="header-icon" width="24" height="24">
          <use href="./img/symbol-defs.svg#chocolate"></use>
        </svg>
      </a>
      
    </div>

    <div class="header-desktop">
      <nav class="header-nav">
        <ul class="header-menu-list">
          <li class="header-menu-item">
            <a href="#home" class="header-menu-link">Home</a>
          </li>
          <li class="header-menu-item">
            <a href="#how-made" class="header-menu-link">How it's made?</a>
          </li>
          <li class="header-menu-item">
            <a href="#staff" class="header-menu-link">Our products</a>
          </li>
          <li class="header-menu-item">
            <a href="#sellers" class="header-menu-link">Top sellers</a>
          </li>
          <li class="header-menu-item">
            <a href="#loved" class="header-menu-link">Chocolate is loved</a>
          </li>
        </ul>
      </nav>

      <div class="header-close">
        <span class="header-close-line"></span>
        <span class="header-close-line"></span>
      </div>

      <ul class="header-social-list">
        <li class="header-social-item">
          <a href="https://www.instagram.com/" target="_blank" rel="noreferrer noopener" class="header-social-link">
            <svg class="header-social-gajet" width="22" height="22">
              <use href="./img/symbol-defs.svg#icon-insta"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a href="https://twitter.com/" target="_blank" rel="noreferrer noopener" class="header-social-link">
            <svg class="header-social-gajet" width="22" height="22">
              <use href="./img/symbol-defs.svg#icon-twitt"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    

    <div class="header-burger burger js-open-menu">
      <span class="burger-line burger-line-first"></span>
      <span class="burger-line burger-line-second"></span>
      <span class="burger-line burger-line-third"></span>
    </div>
  </div>
</header>
