<header class="header">
  <div class="container page-header">
    <div class="header-logo">
      <a href="../index.html" class="header-logo-link link">SIMPLY <span class="part-logo">CHOCOLATE</span></a>
      <svg class="header-icon" width="24" height="24">
        <use href="../img/symbol-defs.svg#chocolate"></use>
      </svg>
    </div>

  <div class="header-desktop">
    <nav class="header-nav">
      <ul class="header-menu-list list">
        <li class="header-menu-item">
          <a href="#!" class="header-menu-link link">Home</a>
        </li>
        <li class="header-menu-item">
          <a href="#!" class="header-menu-link link">How it's made?</a>
        </li>
        <li class="header-menu-item">
          <a href="#!" class="header-menu-link link">Our products</a>
        </li>
        <li class="header-menu-item">
          <a href="#!" class="header-menu-link link">Top sellers</a>
        </li>
        <li class="header-menu-item">
          <a href="#!" class="header-menu-link link">Chocolate is loved</a>
        </li>
      </ul>
    </nav>

    <ul class="header-social-list list">
        <li class="header-social-item">
          <a href="https://www.instagram.com/" target="_blank" rel="noreferrer noopener" class="header-social-link">
            <svg class="header-social-gajet" width="22" height="22">
              <use href="../img/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a href="https://twitter.com/" target="_blank" rel="noreferrer noopener" class="header-social-link">
            <svg class="header-social-gajet" width="22" height="22">
              <use href="../img/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
    </ul>
  </div>

    <div class="header-close">
      <span class="header-close-line"></span>
      <span class="header-close-line"></span>
    </div>

    <div class="header-burger burger js-open-menu">
      <span class="burger-line burger-line-first"></span>
      <span class="burger-line burger-line-second"></span>
      <span class="burger-line burger-line-third"></span>
    </div>
    <!-- <ul class="header-social-list-desk list">
      <li class="header-social-item">
        <a href="#!" class="header-social-link">
          <svg class="header-social-icon" width="24" height="24">
            <use href="../img/symbol-defs.svg#insta"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a href="#!" class="header-social-link">
          <svg class="header-social-icon" width="24" height="24">
            <use href="../img/symbol-defs.svg#twitt"></use>
          </svg>
        </a>
      </li>
    </ul> -->
  </div>
</header>
