<section class="thumb hero overlay">
    <div class="container">
        <h1 class="hero-title">Treat yourself or a loved one to our finest ingredients for a moment of pure delight!</h1>
        <div class="hero-button">
            <button type="button" class="hero-button-buy-now" data-modal-open>Buy now</button>
            <button type="button" class="hero-button-how-it’s-made" data-modal-open>How it’s made</button>
            <div class="hero-scroll-down">
                <span class="hero-scroll-down-title">scroll down</span>
                <button type="button" class="hero-button-scroll-down" data-modal-open></button>
            </div>
        </div>
    </div>
</section>