 <section class="thumb products">
        <div class="container">
          <h2 class="products-header">
            Our <span class="products-header-accent">products</span>
          </h2>
          <div class="swiper">
            <ul class="swiper-wrapper products-list">
              <li class="swiper-slide products-card">
                  <img class="products-image" srcset="../img/our-products/orange-2x.jpg 2x" src="../img/our-products/orange-1x.jpg" alt="orange chocolate bar" />
                <div class="products-lists-wrapper">
                  <h3 class="products-name">orange</h3>
                  <p class="products-type">Dark chocolate</p>
                  <button type="button" class="products-price" >45 uah
                  </button>
                </div>
              </li>
              <li class="swiper-slide products-card">
                <img class="products-image" srcset="../img/our-products/apple-2x.jpg 2x" src="../img/our-products/apple-1x.jpg" alt="apple&cranberry chocolate bar" />
                <div class="products-lists-wrapper">
                  <h3 class="products-name">apple&cranberry</h3>
                  <p class="products-type">Milk chocolate</p>
                  <button type="button" class="products-price">50 uah
                  </button>
                </div>
              </li>
              <li class="swiper-slide products-card">
                <img class="products-image" srcset="../img/our-products/lime-2x.jpg 2x" src="../img/our-products/lime-1x.jpg" alt="lime&sea salt chocolate bar" />
                <div class="products-lists-wrapper">
                  <h3 class="products-name">lime&sea salt</h3>
                  <p class="products-type">Dark chocolate</p>
                  <button type="button" class="products-price">66 uah
                  </button>
                </div>
              </li>
              <li class="swiper-slide products-card">
                <img class="products-image" srcset="../img/our-products/pineapple-2x.jpg 2x" src="../img/our-products/pineapple-1x.jpg" alt="pineapple chocolate bar" />
                <div class="products-lists-wrapper">
                  <h3 class="products-name">pineapple</h3>
                  <p class="products-type">Dark chocolate</p>
                  <button type="button" class="products-price">54 uah
                  </button>
                </div>
              </li>
              <li class="swiper-slide products-card">
                <img class="products-image" srcset="../img/our-products/classic-milk-2x.jpg 2x" src="../img/our-products/classic-milk-1x.jpg" alt="classic chocolate bar" />
                <h3 class="products-name">classic</h3>
                <p class="products-type">Milk chocolate</p>
                <button type="button" class="products-price">45 uah
                  </button>
              </li>
              <li class="swiper-slide products-card">
                <img class="products-image" srcset="../img/our-products/honey-2x.jpg 2x" src="../img/our-products/honey-1x.jpg" alt="honey chocolate bar" />
                <h3 class="products-name">honey</h3>
                <p class="products-type">Milk chocolate</p>
                <button type="button" class="products-price">50 uah
                  </button>
              </li>
              <li class="swiper-slide products-card">
                <img class="products-image" srcset="../img/our-products/roasted-2x.jpg 2x"  src="../img/our-products/roasted-1x.jpg" alt="Roasted fruits chocolate bar" />
                <h3 class="products-name">Roasted fruits</h3>
                <p class="products-type">Dark chocolate</p>
                <button type="button" class="products-price">66 uah
                  </button>
              </li>
              <li class="swiper-slide products-card">
                <img class="products-image" srcset="../img/our-products/classic-white-2x.jpg 2x" src="../img/our-products/classic-white-1x.jpg" alt="Classic chocolate bar" />
                <h3 class="products-name">Classic</h3>
                <p class="products-type">White chocolate</p>
                <button type="button" class="products-price">54 uah
                  </button>
              </li>
            </ul> 
          </div>   
      </section>