<section class="thumb">
  <div class="container container-review">
    <h2 class="title"><span class="title-part">CHOCOLATE</span>IS LOVED</h2>
    <ul class="review-list list">
      <li class="review">
        <div class="review-content">
          <div class="buyer">
            <img
              class="photo-review"
              srcset="
                ../images/reviews/victoria-1x.jpg 1x,
                ../images/reviews/victoria-2x.jpg 2x
              "
              src="../images/reviews/victoria-1x.jpg"
              alt="photo buyer"
              width="80"
              height="80"
            />
            <h3 class="name-review">Victoria Dobrzhanska</h3>
          </div>
          <p class="text-review">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
      </li>
      <li class="review">
        <div class="review-content">
          <div class="buyer">
            <img
              class="photo-review"
              srcset="
                ../images/reviews/nazar-1x.jpg 1x,
                ../images/reviews/nazar-2x.jpg 2x
              "
              src="../images/reviews/nazar-1x.jpg"
              alt="photo buyer"
              width="80"
              height="80"
            />

            <h3 class="name-review">Nazar Babenko</h3>
          </div>
          <p class="text-review">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>
      </li>
      <li class="review">
        <div class="review-content">
          <div class="buyer">
            <img
              class="photo-review"
              srcset="
                ../images/reviews/olena-1x.jpg 1x,
                ../images/reviews/olena-2x.jpg 2x
              "
              src="../images/reviews/olena-1x.jpg"
              alt="photo buyer"
              width="80"
              height="80"
            />

            <h3 class="name-review">Olena Kampusch</h3>
          </div>
          <p class="text-review">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
      </li>

      <li class="review">
        <div class="review-content">
          <div class="buyer">
            <img
              class="photo-review"
              srcset="
                ../images/reviews/natalia-1x.jpg 1x,
                ../images/reviews/natalia-2x.jpg 2x
              "
              src="../images/reviews/natalia-1x.jpg"
              alt="photo buyer"
              width="80"
              height="80"
            />
            <h3 class="name-review">Natalia Sus</h3>
          </div>
          <p class="text-review">
            The chocolate assortment was delicious. Both dark and milk chocolate
            pieces were smooth and just right on the sweetness level.
          </p>
        </div>
      </li>
      <li class="review">
        <div class="review-content">
          <div class="buyer">
            <img
              class="photo-review"
              srcset="
                ../images/reviews/danilo-1x.jpg 1x,
                ../images/reviews/danilo-2x.jpg 2x
              "
              src="../images/reviews/danilo-1x.jpg"
              alt="photo buyer"
              width="80"
              height="80"
            />

            <h3 class="name-review">Danilo Nottingham</h3>
          </div>
          <p class="text-review">
            This is delicious. It so rich and flavorful you don’t need to use as
            many. I love topping an apple with almond butter and these chips for
            a snack.
          </p>
        </div>
      </li>
      <li class="review">
        <div class="review-content">
          <div class="buyer">
            <img
              class="photo-review"
              srcset="
                ../images/reviews/irina-1x.jpg 1x,
                ../images/reviews/irina-2x.jpg 2x
              "
              src="../images/reviews/irina-1x.jpg"
              alt="photo buyer"
              width="80"
              height="80"
            />

            <h3 class="name-review">Irina Tydnyuk</h3>
          </div>
          <p class="text-review">
            This is simply the best chocolate around, and I'm just thrilled to
            support a local company! Best local chocolate - world class :)
          </p>
        </div>
      </li>
    </ul>
    <button type="button" class="button button-review">Leave a review</button>
  </div>
</section>
