<section class="thumb unique-section">
    <div class="container">
        <h2 class="unique-header">IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="title-part">TASTE</span> SENSATION</h2>
    <p class="unique-paragraph">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.</p>
    <ul class="unique-list">
        <li class="unique-item">
            <div class="flip-card">
                <div class="unique-front">
                    <div class="unique-image-wrapper">
                        <img class="unique-img" srcset="../img/unique-components/tablet-mobile/chocolate-tab-mob-1x.jpg 1x, ../img/unique-components/tablet-mobile/chocolate-tab-mob-2x.jpg 2x" src="../img/unique-components/tablet-mobile/chocolate-tab-mob-1x.jpg" alt="milk chocolate" width="224"></img>
                    </div>
                    <h3 class="on-orange unique-photo-subtitle">Milk chocolate</h3>
                </div>
                <div class="unique-back">
                    <h3 class="unique-back-title">Milk chocolate</h3>
                    <div class="btn-wrapper">
                        <p class="unique-btn-orange">chocolate</p>
                        <p class="unique-btn-white">the benefits</p>
                    </div>
                    <p class="unique-text">Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States and Europe.
                    </p>
                </div>
            </div>
        </li>
        <li class="unique-item">
            <div class="flip-card">
                <div class="unique-front">
                    <div class="unique-image-wrapper">
                        <img class="unique-img" srcset="../img/unique-components/tablet-mobile/milk-tab-mob-1x.jpg 1x, ../img/unique-components/tablet-mobile/milk-tab-mob-2x.jpg 2x" src="../img/unique-components/tablet-mobile/milk-tab-mob-1x.jpg" alt="milk" width="224"></img>
                    </div>
                    <h3 class="on-white unique-photo-subtitle">Milk</h3>
                </div>
                <div class="unique-back">
                    <h3 class="unique-back-title">Milk</h3>
                    <div class="btn-wrapper">
                        <p class="unique-btn-orange">milk</p>
                        <p class="unique-btn-white">the benefits</p>
                    </div>
                    <p class="unique-text">Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for young mammals (including breastfed human infants) before they are able to digest solid food.Early-lactation milk, which is called colostrum, contains antibodies that strengthen the immune system.
                    </p>
                </div>
            </div>
        </li>
        <li class="unique-item">
            <div class="flip-card">
                <div class="unique-front">
                    <div class="unique-image-wrapper">
                        <img class="unique-img" srcset="../img/unique-components/tablet-mobile/nuts-tab-mob-1x.jpg 1x, ../img/unique-components/tablet-mobile/nuts-tab-mob-2x.jpg 2x" src="../img/unique-components/tablet-mobile/nuts-tab-mob-1x.jpg" alt="Nuts" width="224"></img>
                    </div>
                    <h3 class="on-black unique-photo-subtitle">Nuts</h3>
                </div>
                <div class="unique-back">
                    <h3 class="unique-back-title">Nuts</h3>
                    <div class="btn-wrapper">
                        <p class="unique-btn-orange">nuts</p>
                        <p class="unique-btn-white">the benefits</p>
                    </div>
                    <p class="unique-text">Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease. They’re a good source of fiber, healthy fats, and plant protein. Plus, they’re great on their own.
                    </p>
                </div>
            </div>
        </li>
        <li class="unique-item">
            <div class="flip-card">
                <div class="unique-front">
                    <div class="unique-image-wrapper">
                        <img class="unique-img" srcset="../img/unique-components/tablet-mobile/coffee-tab-mob-1x.jpg 1x, ../img/unique-components/tablet-mobile/coffee-tab-mob-2x.jpg 2x" src="../img/unique-components/tablet-mobile/coffee-tab-mob-1x.jpg" alt="SEMI - SWEET CHOCOLATE" width="224"></img>
                    </div>
                    <h3 class="on-white unique-photo-subtitle">SEMI - SWEET CHOCOLATE</h3>
                </div>
                <div class="unique-back">
                    <h3 class="unique-back-title">SEMI - SWEET CHOCOLATE</h3>
                    <div class="btn-wrapper">
                        <p class="unique-btn-orange">sweet chocolate</p>
                        <p class="unique-btn-white">the benefits</p>
                    </div>
                    <p class="unique-text">Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this type of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate. In a taste comparison, it has a slightly bitter taste whereas milk chocolate is sweeter.
                    </p>
                </div>
            </div>
        </li>
    </ul>
    </div>
</section>