<section class="thumb" id="loved">
  <div class="container container-review">
    <h2 class="review-title">
      <span class="review-title-part">CHOCOLATE</span>IS LOVED
    </h2>
    <ul class="review-list">
      <li class="review" id="card1">
        <div class="review-content">
          <div class="buyer">
            <img
              class="photo-review"
              srcset="
                ../img/reviews/victoria-1x.jpg 1x,
                ../img/reviews/victoria-2x.jpg 2x
              "
              src="../img/reviews/victoria-1x.jpg"
              alt="photo buyer"
              width="80"
              height="80"
            />
            <h3 class="name-review">Victoria Dobrzhanska</h3>
          </div>
          <p class="text-review">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
      </li>
      <li class="review" id="card2">
        <div class="review-content">
          <div class="buyer">
            <img
              class="photo-review"
              srcset="
                ../img/reviews/nazar-1x.jpg 1x,
                ../img/reviews/nazar-2x.jpg 2x
              "
              src="../img/reviews/nazar-1x.jpg"
              alt="photo buyer"
              width="80"
              height="80"
            />

            <h3 class="name-review">Nazar Babenko</h3>
          </div>
          <p class="text-review">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>
      </li>
      <li class="review" id="card3">
        <div class="review-content">
          <div class="buyer">
            <img
              class="photo-review"
              srcset="
                ../img/reviews/olena-1x.jpg 1x,
                ../img/reviews/olena-2x.jpg 2x
              "
              src="../img/reviews/olena-1x.jpg"
              alt="photo buyer"
              width="80"
              height="80"
            />

            <h3 class="name-review">Olena Kampusch</h3>
          </div>
          <p class="text-review">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
      </li>
      <li class="review" id="card4">
        <div class="review-content">
          <div class="buyer">
            <img
              class="photo-review"
              srcset="
                ../img/reviews/natalia-1x.jpg 1x,
                ../img/reviews/natalia-2x.jpg 2x
              "
              src="../images/reviews/natalia-1x.jpg"
              alt="photo buyer"
              width="80"
              height="80"
            />
            <h3 class="name-review">Natalia Sus</h3>
          </div>
          <p class="text-review">
            The chocolate assortment was delicious. Both dark and milk chocolate
            pieces were smooth and just right on the sweetness level.
          </p>
        </div>
      </li>
      <li class="review" id="card5">
        <div class="review-content">
          <div class="buyer">
            <img
              class="photo-review"
              srcset="
                ../img/reviews/danilo-1x.jpg 1x,
                ../img/reviews/danilo-2x.jpg 2x
              "
              src="../img/reviews/danilo-1x.jpg"
              alt="photo buyer"
              width="80"
              height="80"
            />

            <h3 class="name-review">Danilo Nottingham</h3>
          </div>
          <p class="text-review">
            This is delicious. It so rich and flavorful you don’t need to use as
            many. I love topping an apple with almond butter and these chips for
            a snack.
          </p>
        </div>
      </li>
      <li class="review" id="card6">
        <div class="review-content">
          <div class="buyer">
            <img
              class="photo-review"
              srcset="
                ../img/reviews/irina-1x.jpg 1x,
                ../img/reviews/irina-2x.jpg 2x
              "
              src="../img/reviews/irina-1x.jpg"
              alt="photo buyer"
              width="80"
              height="80"
            />

            <h3 class="name-review">Irina Tydnyuk</h3>
          </div>
          <p class="text-review">
            This is simply the best chocolate around, and I'm just thrilled to
            support a local company! Best local chocolate - world class :)
          </p>
        </div>
      </li>
    </ul>
    <div class="review-list-slider">
      <a class="slider-button current" href="#card1"></a>
      <a class="slider-button" href="#card2"></a>
      <a class="slider-button" href="#card3"></a>
      <a class="slider-button" href="#card4"></a>
      <a class="slider-button" href="#card5"></a>
      <a class="slider-button" href="#card6"></a>
    </div>
    <button type="button" class="button button-review" data-modal-review-open>
      Leave a review
    </button>
  </div>
</section>

<!-- MODAL -->
<div class="backdrop is-hidden" data-modal-review>
  <div class="modal-review">
    <div class="review-close">
      <button type="button" class="modal-review-close" data-modal-review-close>
        <svg class="review-close-icon" width="12" height="12">
          <use href="../img/reviews/review-symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <h2 class="review-title">
      LEAVE A REVIEW ABOUT <span class="review-title-part">OUR CHOCOLATE</span>
    </h2>
    <form class="review-form">
      <label class="review-form-field">
        <input
          class="review-form-input"
          type="text"
          name="name"
          placeholder="Name"
        />
      </label>
      <label class="review-form-field">
        <input
          class="review-form-input"
          type="email"
          name="mail"
          placeholder="Enter your email"
        />
      </label>
      <label class="review-form-field phone">
        <span class="phone-part">
          <svg class="phone-ukr" width="24" height="18">
            <use href="../img/reviews/review-symbol-defs.svg#icon-ukr"></use>
          </svg>
          <div class="pre-number">+380</div>
        </span>
        <input
          class="review-form-input"
          type="tel"
          name="tel"
          placeholder="Phone number"
        />
      </label>
      <label class="review-form-field comment">
        <textarea
          class="review-comment"
          name="review-comment"
          placeholder="Enter text"
        ></textarea>
      </label>

      <div class="send">
        <button type="submit" class="button send">Send</button>
      </div>
    </form>
  </div>
</div>

<script src="../js/modal-review.js"></script>
