<section class="subscribe">
  <div class="container">
    <div class="subscribe-content">
      <h2 class="subscribe-title">EXPLORE OUR NEW CHOCOLATE FIRST</h2>
      <p class="subscribe-description">
        From the velvety texture to the rich and complex flavor, our New
        Chocolate is a true indulgence that will leave you craving more. Made
        with only the finest ingredients and handcrafted with the utmost care,
        each piece is a work of art that is sure to please.
      </p>
    </div>
    <button type="button" sub-modal-open class="subscribe-button">
      Subscribe
    </button>
  </div>
</section>

<!-- Subscribe modal -->
<div class="subscribe-backdrop is-hidden" sub-modal>
  <div class="subscribe-modal">
    <button type="button" sub-modal-close class="subscribe-modal-close-btn">
      <svg class="subscribe-modal-close-btn-icon" width="24" height="24">
        <use href="../img/symbol-defs.svg#x"></use>
      </svg>
    </button>
    <h2 class="subscribe-modal-title">
      Explore our <span> &nbsp;new chocolate&nbsp;</span> first!
    </h2>
    <form class="subscribe-modal-form">
      <div class="subscribe-modal-wrap">
        <input
          type="email"
          autocomplete="off"
          aria-label="E-mail"
          class="subscribe-modal-input"
          name="email"
          placeholder="Enter your email"
          required
        />
        <button class="subscribe-button" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<!-- /Subscribe modal -->
