<section class="thumb" id="how-made">
    <div class="container">

        <h2 class="cooking">
            HOW IT'S <span class="made">MADE?</span>
        </h2>
        <div class="method">
            <div class="moovie">
                <iframe class="moovie-player" width="614" height="400" src="https://www.youtube-nocookie.com/embed/ZB9pCCcuP24"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
                </iframe>
            </div>
            
            <div class="recipe">
                <h3 class="recipe-call">Try our chocolates today and discover the perfect balance of flavor</h3>
                <ul class="formula">
                    <li class="formula-chapter">
                        <p class="formula-item">
                            Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.
                        </p>
                    </li>
                    <li class="formula-chapter">
                        <p class="formula-item">
                            At the same time, prepare a water bath. Melt the butter on it.
                        </p>
                    </li>
                    <li class="formula-chapter">
                        <p class="formula-item">
                            "Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the
                            mass becomes
                            uniform and silky.
                        </p>
                    </li>
                    <li class="formula-chapter">
                        <p class="formula-item">
                            Heat the mixture over low heat, letting it barely boil.
                        </p>
                    </li>
                    <li class="formula-chapter">
                        <p class="formula-item">
                            Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>