<section class="thumb hero">
    <div class="container overlay">
        <h1 class="hero-title visually-hidden">Ідеологія компанії Simply chocolate</h1>
        <h2 class="hero-title">Treat yourself or a loved one to our finest ingredients for a moment of pure delight!</h2>
        <div class="hero-button">
            <button type="button" class="hero-button-buy-now" data-modal-open>Buy now</button>
            <button type="button" class="hero-button-how-its-made" data-modal-open>How it’s made</button>
            <div class="hero-scroll-down">
                <div class="hero-scroll-block">
                    <span class="hero-scroll-down-title">scroll down</span>
                    <a href="#" class="hero-scroll-link">
                        <svg class="hero-scroll-icon" width=16 height=16>
                            <use href="img/symbol-defs.svg#tick"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>