<div class="backdrop is-hidden" data-modal-buynow>
  <div class="modal-window">
    <div class="modal-window-header">
      <button type="button" class="modal-window-close" data-modal-close-buynow>
        <svg class="modal-icon" width="14" height="14">
          <use href="../img/symbol-defs.svg#x"></use>
        </svg>
      </button>
      <h2 class="title-buy"><span class="header-accent">Buy</span> now</h2>
    </div>

    <div class="modal-window-body">
      <div class="cards-basket-wrapper">
        <div class="cards-basket">
          <picture>
            <source
              srcset="
                ../img/popup-buy-now/desktop-tablet/100g-desktop-tablet-1x.jpg 1x,
                ../img/popup-buy-now/desktop-tablet/100g-desktop-tablet-2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ../img/popup-buy-now/desktop-tablet/100g-desktop-tablet-1x.jpg 1x,
                ../img/popup-buy-now/desktop-tablet/100g-desktop-tablet-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ../img/popup-buy-now/mobile/100g-mobile-1x.jpg 1x,
                ../img/popup-buy-now/mobile/100g-mobile-2x.jpg 2x
              "
              media="(min-width:320px)"
            />
            <img
              src="../img/popup-buy-now/mobile/100g-mobile-1x.jpg"
              class="cards-basket-img"
              alt=""
            />
          </picture>
          <p class="chocolale-size">100 g</p>
        </div>
        <div class="cards-basket">
          <picture>
            <source
              srcset="
                ../img/popup-buy-now/desktop-tablet/200g-desktop-tablet-1x.jpg 1x,
                ../img/popup-buy-now/desktop-tablet/200g-desktop-tablet-2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ../img/popup-buy-now/desktop-tablet/200g-desktop-tablet-1x.jpg 1x,
                ../img/popup-buy-now/desktop-tablet/200g-desktop-tablet-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ../img/popup-buy-now/mobile/200g-mobile-1x.jpg 1x,
                ../img/popup-buy-now/mobile/200g-mobile-2x.jpg 2x
              "
              media="(min-width:320px)"
            />
            <img
              src="../img/popup-buy-now/mobile/200g-mobile-1x.jpg"
              class="cards-basket-img"
              alt=""
            />
          </picture>
          <p class="chocolale-size">200 g</p>
        </div>
        <div class="cards-basket">
          <picture>
            <source
              srcset="
                ../img/popup-buy-now/desktop-tablet/300g-desktop-tablet-1x.jpg 1x,
                ../img/popup-buy-now/desktop-tablet/300g-desktop-tablet-2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ../img/popup-buy-now/desktop-tablet/300g-desktop-tablet-1x.jpg 1x,
                ../img/popup-buy-now/desktop-tablet/300g-desktop-tablet-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ../img/popup-buy-now/mobile/300g-mobile-1x.jpg 1x,
                ../img/popup-buy-now/mobile/300g-mobile-2x.jpg 2x
              "
              media="(min-width:320px)"
            />
            <img
              src="../img/popup-buy-now/mobile/300g-mobile-1x.jpg"
              class="cards-basket-img"
              alt=""
            />
          </picture>

          <p class="chocolale-size">300 g</p>
        </div>
      </div>

      <form class="modal-form">
        <p class="description">Personal information</p>
        <div class="modal-form-field-wrap">
          <label class="modal-form-field">
            <span class="modal-form-wrapper">
              <input
                type="text"
                name="user_name"
                class="modal-form-input modal-form-input-name"
                placeholder="Name"
                required
                pattern="[a-zA-Aа-яА-Я]+"
                maxlength="2"
              />
            </span>
          </label>
          <label class="modal-form-field">
            <span class="modal-form-wrapper">
              <input
                type="text"
                name="user_surname"
                class="modal-form-input"
                placeholder="Surname"
                required
                pattern="[a-zA-Aа-яА-Я]+"
                maxlength="2"
              />
            </span>
          </label>
        </div>

        <p class="description paragraf-descr-email">Email</p>
        <label class="modal-form-field">
          <!-- <span class="modal-form-descrp">Email</span> -->
          <span class="modal-form-wrapper">
            <input
              type="email"
              name="user_emeil"
              class="modal-form-input"
              placeholder="Enter your email"
              required
            />
          </span>
        </label>
        <p class="description paragraf-descr">Phone number</p>
        <label class="modal-form-field">
          <!-- <span class="modal-form-descrp">Phone</span> -->
          <span class="modal-form-wrapper">
            <input
              type="tel"
              name="user_phone"
              placeholder="Phone number"
              class="modal-form-input modal-form-input-tel"
              required
            />
            <svg class="modal-input-icon-flag">
              <use href="../img/symbol-defs.svg#flag"></use>
            </svg>
            <span class="phone-number-code">+380</span>
          </span>
        </label>
        <p class="description paragraf-descr">Card number</p>
        <label class="modal-form-field">
          <!-- <span class="modal-form-descrp">Phone</span> -->
          <span class="modal-form-wrapper">
            <input
              type="tel"
              name="cardnumber"
              placeholder="Enter card"
              class="modal-form-input modal-form-input-card"
              required
            />
            <svg class="modal-form-input-icon">
              <use href="../img/symbol-defs.svg#mastercard"></use>
            </svg>
          </span>
        </label>
        <p class="description paragraf-descr">Comment</p>
        <label class="modal-form-field">
          <textarea
            name="user_comment"
            placeholder="Text input"
            class="modal-form-comment"
          ></textarea>
        </label>

        <div class="modal-window-footer">
          <button type="submit" class="modal-form-btn">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
