/* Footer */
.footer {
  padding: 32px 0;
  background-color: var(--background-second-color);
}

.footer-section-text {
  max-width: 300px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  color: var(--text-third-color);
}

.base-name {
  color: var(--text-second-color);
}

.subtitle-footer {
  font-weight: 500;
  line-height: 1.28;
  color: var(--text-third-color);
  margin-bottom: 14px;
}

.contacts-list .contacts-item {
  font-style: normal;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--text-third-color);
}

.social-icon {
  cursor: pointer;
  fill: var(--text-third-color);
  transition: fill var(--animation-function), fill var(--animation-duration);
}

.footer-menu-list .menu-list {
  color: var(--text-third-color);
}

.menu-list {
  font-weight: 500;
  line-height: 1.14;
  color: var(--text-third-color);
  transition: color var(--animation-function), color var(--animation-duration);
}

.contacts {
  position: relative;
}

.create-line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 32px;
}

.footer-discription {
  margin-bottom: 32px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 4px;
}

.icon-list:not(:last-child) {
  margin-right: 14px;
}

.social-list-icon {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.menu-list-item:not(:last-child) {
  margin-bottom: 18px;
}

.menu-list:hover,
.menu-list:focus {
  color: var(--text-second-color);
}

/* -----tablet----- */
@media screen and (min-width: 768px) {

  .footer {
    padding: 50px 0;
  }

  .create-line {
    margin-bottom: 24px;
  }

  .footer-section-text {
    margin-bottom: 0;
  }

  .footer-discription {
    display: flex;
    margin-bottom: 50px;
  }

  .social-icon:hover,
  .social-icon:focus {
    fill: var(--text-second-color);
  }

  .contacts {
    margin-left: auto;
    min-width: 280px;
  }

  .footer-menu-list {
    display: flex;
  }

  .footer-menu-list .menu-list-item {
    margin-bottom: 0;
    letter-spacing: -0.02em;
  }

  .menu-list-item + .menu-list-item {
    margin-left: 24px;
  }
}

/* ------desktop-------- */
@media screen and (min-width: 1200px) {

  .footer-section-text {
    max-width: 543px;
  }

  .contacts {
    margin-left: auto;
    min-width: 293px;
  }

  .footer-discription {
    margin-bottom: 58px;
  }

  .footer-section-text {
    font-style: normal;
    font-size: 28px;
    line-height: 1.21;
  }
}
