/* Hero */

.overlay {
    min-height: 620px;
    padding: 395px 20px 20px;
    max-width: 335px;
    text-align: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%),
        url(../img/hero/bg-mobile-1x.jpg);
    border-radius: 30px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .overlay {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%),
            url(../img/hero/bg-mobile-2x.jpg);
    }
}

.hero-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: var(--text-third-color);
    margin-bottom: 32px;
}

.hero-button {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.hero-button-buy-now {
    /* align-items: center;
    text-align: center; */
    min-width: 120px;
    height: 41px;
    background-color: var(--accent-main-color);
    border-radius: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    color: var(--background-third-color);
    margin-right: 14px;
}

.hero-button-how-its-made {
    
    min-width: 159px;
    height: 41px;
    border: 1px solid var(--text-third-color);
    border-radius: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    color: var(--text-third-color);
    background-color: transparent;
}

.hero-scroll-down {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align-content: center; */
    /* min-width: 100%; */
    margin-top: 32px;
    margin-bottom: 20px;
    /* margin-right: 12px; */
    /* margin-top: auto;
    margin-bottom: auto; */
}

.hero-scroll-down-title {
    /* display: flex;
    flex-direction: row; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    color: var(--text-third-color);
}

.hero-scroll-link {
    display: flex;
    align-content: center; 
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    margin-left: 12px;
    background: var(--text-third-color);
    border: transparent;
    border-radius: 50%;
}

.hero-scroll-icon {
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
    background: var(--text-third-color);
    /* transform: matrix(0, 1, 1, 0, 0, 0); */
    border: transparent;
    border-radius: 50%;
}
 
/* Mobile */

/* Tablet */

@media screen and (min-width: 767px) {
    .overlay {
        max-width: 704px;
        min-height: 890px;
        padding: 671px 40px 40px;
    }

    .hero-title {
        max-width: 484px;
        font-size: 28px;
        line-height: 1.21;
    }

    .hero-button {
        flex-wrap: nowrap;
    }

    .hero-scroll-down {
        margin: 7px 0 0;
    }

    .hero-button-how-its-made {
        margin-right: auto;
    }
}

@media screen and (min-width: 1200px) {
    .overlay {
        max-width: 1136px;
        min-height: 600px;
        padding-top: 381px;
    }

    .hero-button-how-its-made {
        margin-right: auto;
    }
}



