/* Hero */
.overlay {
    border-radius: 30px;
}

.hero {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: left;
    border-radius: 30px;
    background-color: var(--background-third-color);
}

.thumb {
    margin-left: 20px;
    margin-right: 20px;
}

.overlay {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%),
        url(../img/hero/bg-mobile-1x.jpg);
    border-radius: 30px;
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .overlay {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%),
            url(../img/hero/bg-mobile-2x.jpg);
    }
}

.hero-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: var(--text-third-color);
    margin-bottom: 32px;
}

.hero-button {
    display: flex;
    flex-wrap: wrap;
}

.hero-button-buy-now {
    align-items: center;
    text-align: center;
    gap: 14px;
    min-width: 120px;
    height: 41px;
    background-color: var(--accent-main-color);
    border-radius: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    color: var(--background-third-color);
    margin-right: 14px;
}

.hero-button-buy-now:hover,
.hero-button-buy-now:focus {
    background-color: var(--accent-second-color);
    color: var(--text-second-color);
}

.hero-button-how-its-made {
    gap: 14px;
    min-width: 159px;
    height: 41px;
    border: 1px solid var(--text-third-color);
    border-radius: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    color: var(--text-third-color);
    background-color: transparent;
}

.hero-button-how-its-made:hover,
.hero-button-how-its-made:focus {
    background-color: var(--background-third-color);
    color: var(--text-second-color);
    border: 1px solid var(--text-second-color);
}

.hero-scroll-down {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    min-width: 100%;
    margin-top: 32px;
    margin-bottom: 20px;
    margin-right: 12px;
}

.hero-scroll-down-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    color: var(--text-third-color);
}

.hero-scroll-link {
    display: flex;
    align-content: center; 
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    margin-left: 12px;
    background: var(--text-third-color);
    border: transparent;
    border-radius: 50%;
}

.hero-scroll-link:hover,
.hero-scroll-link:focus {
    background-color: var(--accent-main-color);
}

.hero-scroll-link:hover .hero-scroll-down-title,
.hero-scroll-link:focus .hero-scroll-down-title {
    color: var(--text-second-color);
}

.hero-scroll-link:hover .hero-scroll-icon,
.hero-scroll-link:focus .hero-scroll-icon {
    background-color: var(--accent-main-color);
    color: var(--text-third-color);
}

.hero-scroll-icon {
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
    background: var(--text-third-color);
    border: transparent;
    border-radius: 50%;
}

/* Mobile */
@media screen and (max-width: 374px) {
    .container {
        padding-top: 395px;
    }
    .hero-title {
        max-width: 100%;
    }
}

@media screen and (min-width: 375px) {
    .container {
        padding-top: 395px;
    }
}

/* Tablet */
@media screen and (min-width: 768px) {
    .container {
        padding-top: 671px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .hero-title {
        font-size: 28px;
        line-height: 1.21;
        padding-right: 180px;
    }

    .hero-button-buy-now {
        min-width: 144px;
        height: 45px;
    }

    .hero-button-how-its-made {
        min-width: 183px;
        height: 45px;
    }

    .hero-button {
        flex-wrap: nowrap;
        padding-bottom: 40px;
    }

    .hero-scroll-down {
        align-items: flex-end;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 153px;
    }

    .hero-scroll-block {
        display: flex;
        align-items: center;
    }

    .hero-scroll-down-title {
        font-size: 14px;
        line-height: 1.29;
    }

    .hero-scroll-link {
        width: 38px;
        height: 38px;
        margin-left: 14px;
    }

    .hero-scroll-icon {
        width: 22px;
        height: 22px;
    }

    .overlay {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%),
            url(../img/hero/bg-tablet-1x.jpg);
        border-radius: 30px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .overlay {
            background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%),
                url(../img/hero/bg-tablet-2x.jpg);
        }
    }
}

/* Desktop */
@media screen and (min-width: 1200px) {
    .container {
        padding-top: 381px;
    }

    .thumb.hero .container {
        margin-bottom: 72px;
    }

    .thumb .container {
        margin-bottom: 128px;
    }

    .hero-title {
        padding-right: 612px;
    }

    .hero-scroll-down {
        margin-left: 585px;
    }

    .overlay {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%),
            url(../img/hero/bg-desktop-1x.jpg);
        border-radius: 30px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .overlay {
            background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%),
                url(../img/hero/bg-desktop-2x.jpg);
        }
    }
}