/* Reviews */

.container-review {
    text-align: center;
}

.title {
    text-align: center;
    margin-bottom: 74px;
    color: var(--text-main-color);
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}

.title-part {
    margin-right: 4px;
    color: var(--accent-main-color);
}

.review-list {
    padding-top: 42px;
    overflow: auto;
    list-style: none;
    display: flex;
    column-gap: 16px;
}

.review-list::-webkit-scrollbar {
    width: 0;
}

.review {
    position: relative;

    min-height: 200px;
    padding-top: 104px;
    padding-left: 18px;
    padding-right: 18px;

    background: var(--background-third-color);
    border: 1px solid rgba(17, 17, 17, 0.1);
    box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
    border-radius: 15px;
}

.review-content {
    width: 299px;
   }


.buyer {
    position: absolute;
    top: -42px;
    left: 50%;
    transform: translateX(-50%);
}

.photo-review {
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color:var(--accent-second-color);
}

.name-review {
    width: 220px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    color: var(--text-main-color);
}

.text-review {
    
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
}

.button-review {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    font-size: 18px;
    line-height: 2;
    color: var(--text-main-color);
    margin-top: 50px;
    background-color: inherit;
    padding: 14px 40px;
    gap: 14px;
    width: 222px;
    height: 50px;
    border: 1px solid var(--accent-main-color);
    border-radius: 100px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.button-review:hover,
.button-review:focus,
.button-review:active {
    background-color: var(--accent-main-color);
    color: var(--text-third-color);}



/* modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.95);
    ;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    visibility:;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--background-third-color);
    min-width: 311px;
    min-height: 471px;
    display: block;
    border-radius: 15px;
    padding: 32px 24px;

    transform: translate(-50%, -50%) scale(1);
    transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close {
    position: absolute;
    top: 14px;
    right: 14px;
}

.modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: inherit;
    color: #000;
    width: 24px;
    height: 24px;
    border: none;
}

.close-icon {
    width: 12px;
    height: 12px;
}

.modal .title {
    text-align: left;
    margin-bottom: 32px;
}


.form-field {
    display: block;
    margin-bottom: 14px;
}

.form-input {
    width: 100%;
    height: 45px;
    font-size: 14px;
    outline: none;
    padding: 14px 18px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.form-field.phone {
    position: relative;
}

.form-field.phone input {
    padding-left: 106px;
}

.phone-part {
    position: absolute;
    display: flex;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    border-right: 1px solid grey;
    padding-right: 20px;
}

.phone-ukr {
    margin-right: 8px;
}

.form-field.comment {margin-bottom: 18px;}

textarea {
    width: 100%;
    height: 91px;
    font-size: 14px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 14px 18px;
    outline: none;
}

.button.send {
    margin-top: 0;
    background-color: var(--accent-main-color);
    color: var(--background-third-color);
    width: 93px;
    height: 41px;
    padding: 12px 28px;
    border-radius: 100px;
    margin-left: 0;
    border: none;

}


/* MOBILE 320 */

@media screen and (max-width:374px) { 
    .review-content {
            width: 240px;
        }
}

/* TABLET */
@media screen and (min-width:768px) {
    .review {
        width: 344px;}
        
    .review-content {
        width: 312px;}

    .modal {
        min-width: 517px;
        min-height: 631px;
        padding: 40px;}

    .modal-close {
        width: 28px;
        height: 28px;}

    .close {
        position: absolute;
        top: 14px;
        right: 14px;}
    
    .modal .title {
        margin-bottom: 40px;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: -0.03em;
        width: 298px;
        }

    .form-field {
        margin-bottom: 19px;
    }

    .form-input {
        height: 66px;
        font-size: 18px;
        padding: 22px 24px;
    }

.form-field.phone input {
    padding-left: 177px;
}

.phone-part {
    font-size: 18px;
    left: 24px;
    padding-right: 32px;
}

.phone-ukr {
    width: 32px;
    height: 24px;
    margin-right: 18px;
}

textarea {   
    height: 137px;
    font-size: 18px;
    padding: 22px 24px;
}

.button.send {
    padding: 14px 40px;
    width: 117px;
    height: 45px;}

}

/* DESKTOP */

@media screen and (min-width:1200px) {
    .review-list {
        column-gap: 28px;
    }

    .review {
        width: 360px;
        padding-left: 24px;
        padding-right: 24px;
    }
}