/* Subscribe */

.subscribe {
    max-width: 1200px;
    padding-top: 62px;
    padding-bottom: 63px;
    margin-left: auto;
    margin-right: auto;
  background-image: url(../img/subscribe/subscribe-mobile-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--background-second-color);
  text-align: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .subscribe {
    background-image: url(../img/subscribe/subscribe-mobile-2x.jpg);
  }
}

.subscribe-content {
  text-align: center;

  color: var(--text-third-color);
}

.subscribe-title {
  max-width: 291px;
  margin-bottom: 24px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

.subscribe-description {
  max-width: 326px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;

  line-height: 1.28;
  letter-spacing: -0.02em;
}

.subscribe-button {
  padding: 12px 28px;
  border: none;
  border-radius: 100px;

  background-color: var(--accent-main-color);
  color: var(--text-third-color);
  font-weight: 600;
  line-height: 1.21;
    transition-property: color, background-color;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-function);
}

.subscribe-button:hover,
.subscribe-button:focus {
  color: var(--text-second-color);
  background-color: var(--accent-second-color);
}

@media screen and (min-width: 768px) {
  .subscribe {
    padding-top: 72px;
    padding-bottom: 72px;

    background-image: url(../img/subscribe/subscribe-tablet-1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subscribe {
      background-image: url(../img/subscribe/tablet-2x.jpg);
    }
  }

  .subscribe-title {
    max-width: 378px;

    font-size: 24px;
    line-height: 1.16;
  }

  .subscribe-description {
    max-width: 467px;
  }

  .subscribe-button {
    padding: 14px 40px;

    font-size: 18px;
    line-height: 1.22;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    background-image: url(../img/subscribe/subscribe-desktop-1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subscribe {
      background-image: url(../img/subscribe/subscribe-desktop-2x.jpg);
    }
  }

  .subscribe-button {
    font-size: 18px;
    line-height: 1.22;
  }
}

/* <!-- Subscribe modal --> */
.subscribe-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  z-index: 999;
}

.subscribe-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.subscribe-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 275px;
  min-height: 350px;
  padding: 15px 14px 22px 15px;
  border-radius: 10px;
  background-color: var(--background-third-color);

  object-fit: scale-down;
  object-position: right top;
  background-image: url(/img/popup-explore-chocolate/chocolate-mobile-1x.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .subscribe-modal {
    background-image: url(../img/popup-explore-chocolate/chocolate-mobile-2x.jpg);
  }
}

.subscribe-modal-close-btn {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  margin-left: auto;
  background: transparent;
  border: none;
}

.subscribe-modal-close-btn-icon {
  fill: var(--background-third-color);
}

.subscribe-modal-aside {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 200px;
}
.subscribe-modal-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--text-main-color);
  margin-bottom: 24px;
}

.subscribe-modal-title span {
  color: var(--text-second-color);
  text-align: left;
  display: inline-block;
}

.subscribe-modal-form {
  display: flex;
}

.subscribe-modal-wrap {
  display: flex;
  align-items: flex-start;
  position: absolute;
}

.subscribe-modal-input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 14px 18px;
  gap: 40px;

  width: 253px;
  height: 45px;

  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 25px;
}
.subscribe-modal-input::placeholder {
  font-size: 14px;
  line-height: 1.22;
  align-items: center;
  letter-spacing: -0.02em;

  color: rgba(64, 64, 64, 0.3);
}

.subscribe-modal-btn {
  padding: 14px 22px;
  right: 95px;
  position: relative;
}

@media screen and (min-width: 374px) {
  .subscribe-modal {
    padding: 15px 14px 32px 24px;
    width: 311px;
  }

  .subscribe-modal-input {
    width: 263px;
  }

  .subscribe-modal-btn {
    padding: 14px 28px;
    right: 110px;
  }
}

@media screen and (min-width: 768px) {
  .subscribe-modal {
    width: 538px;
    min-height: 412px;
    padding: 24px 24px 40px 40px;
  }

  .subscribe-modal {
    background-image: url(../img/popup-explore-chocolate/chocolate-desktop-tablet-1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subscribe-modal {
      background-image: url(../img/popup-explore-chocolate/chocolate-desktop-tablet-2x.jpg);
    }
  }

  .subscribe-modal-aside {
    top: 247px;
    width: 298px;
  }

  .subscribe-modal-btn {
    position: unset;
    margin-left: 8px;
    padding: 17px 40px;
  }

  .subscribe-modal-input {
    width: 313px;
    height: 52px;
  }
  .subscribe-modal-input::placeholder {
    font-size: 18px;
  }
}

/* <!-- /Subscribe modal --> */
