/* Top sellers */

.thumb.sell {
  padding-bottom: 72px;
}

.seller-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.seller-title>span {
  color: var(--accent-main-color);
}

.seller-text-first {
  line-height: 1.29;
  letter-spacing: -0.02em;
  max-width: 306px;
}

.seller-item img {
  border-radius: 15px;
}

.seller-item-one img {
  margin-bottom: 20px;
}

.seller-item-one {
  margin-bottom: 32px;
}

.seller-item-two {
  margin-bottom: 20px;
}

.seller-text-last {
  display: none;
}

.seller-item-three {
  display: none;
}

.seller-btn {
  display: block;
  padding: 14px 40px;
  margin: 0 auto;
  border: none;
  font-weight: 600;
  line-height: 1.21;
  color: var(--text-third-color);
  background-color: var(--text-second-color);
  border-radius: 100px;
  transition-property: color, background-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-function);
}

.seller-btn:hover,
.seller-btn:focus {
  color: var(--text-second-color);
  background-color: var(--accent-second-color);
}

@media screen and (min-width: 768px) {

  .thumb.sell {
    padding-bottom: 100px;
  }

  .seller-text-first {
    display: none;
  }

  .seller-title {
    margin-bottom: 50px;
  }

  .seller-text-last {
    display: block;
    line-height: 1.29;
    letter-spacing: -0.02em;
    max-width: 306px;
  }

  .seller-list {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
  }

  .seller-item {
    margin-bottom: 0px;
  }

  .seller-item-one img {
    margin-bottom: 0px;
  }

  .seller-btn {
    margin: 0;
  }

  .seller-downblock {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {

  .thumb.sell {
    padding-bottom: 128px;
  }
  .seller-item-three {
    display: block;
  }

  .seller-text-last {
    max-width: 407px;
  }
}