/* Unique components */

.unique-secta {
    padding-top: 72px;
    padding-bottom: 72px;
}

.taste {
    color: var(--accent-main-color);
}

.unique-header {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
/* or 120% */

    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;

    color: var(--text-main-color);
    margin-bottom: 24px;
}

.unique-paragraph {
    text-align: center;
    margin-bottom: 24px;
}

/* flip card */
.unique-item {
    background-color: transparent;
    width: 335px;
    height: 270px;
    border: 1px solid transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin-left: auto;
    margin-right: auto;
    
}
.unique-item:not(:last-child) {
    margin-bottom: 32px;
}
.unique-item:hover .flip-card {
    transform: rotateY(180deg);
}

.unique-front{
    border: 1px solid var(--accent-main-color);
    
}
.unique-front, .unique-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;}

/* flip-card-inner */
.flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform var(--animation-duration) var(--animation-function);
    transform-style: preserve-3d;
    border: 1px solid transparent;
    border-radius: 15px;

}
.unique-orange{
    background-color: var(--accent-main-color);
    color: var(--text-third-color);
    border-radius: 15px;
    border: 1px solid transparent;
    
}
.unique-white{
    background-color: var(--background-third-color);
    border-color: var(--accent-main-color);
    border-radius: 15px;
}

.unique-black{
    background-color: var(--background-second-color);
    color: var(--text-third-color);
    border-radius: 15px;
    border: 1px solid transparent;
}
/* flip-card-front */
.unique-front{
    padding: 28px;

}
.unique-image-wrapper{display: flex;
justify-content: center;
margin-bottom: 25px;
}
.unique-img {
    /* padding-top: 28px;
    padding-bottom: 25px; */
}
.unique-photo-subtitle {
    text-align: left;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    
    letter-spacing: -0.02em;
    text-transform: uppercase;
}
/* flip-card-back */
.unique-back {
    background-color: var(--background-third-color);
    color: var(--text-main-color);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    border-radius: 15px;
    padding: 28px;
}
.unique-back-title {
    text-align: left;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 1.22;

    letter-spacing: -0.03em;
    text-transform: uppercase;

}
.btn-wrapper{
    display: flex;
    gap: 6px;
    margin-bottom: 14px;
}
.unique-btn-orange {
    display: inline-block;
    font-size: 10px;
    line-height: 1.2;
    background-color: var(--accent-main-color);
    border-radius: 35px;
    color: var(--background-third-color);
    align-items: center;
    text-align: center;
    padding: 6px 16px;

}
.unique-btn-white {
    display: inline-block;
    font-size: 10px;
    line-height: 1.2;
    background-color: var(--background-main-color);
    border-radius: 35px;
    border: 1px solid var(--accent-main-color);
    color: var(--text-main-color);

    align-items: center;
    text-align: center;
    padding: 6px 16px;

    
}
.unique-text {
    text-align: left;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
}

@media screen and (max-width:375px) {
    .unique-item {
        max-width: 100%;}

    .unique-back{
        display: flex;
        flex-wrap: nowrap;

    }    
    .unique-text{
        font-size: 12px;
    }
}

@media screen and (min-width:768px) {
    
    .unique-secta {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .unique-header{
        max-width: 411px;
        margin-left: auto;
        margin-right: auto;
    }

    .unique-paragraph{max-width: 486px;
        margin-left: auto;
        margin-right: auto;
    }

    .unique-list{
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }

    .unique-item:not(:last-child) {
        margin-bottom: unset;
    }

    .order-chockolate{
        order:-1;
    }

    .order-milk {
        order: 2;
    }

    .order-nuts {
        order:3;
    }

    .order-coffee {
        order: 1;
    }

}
    @media screen and (min-width:1200px) {

        .unique-secta {
            padding-top: 128px;
            padding-bottom: 128px;
        }

        .unique-item {
            width: 270px;
        }

        .unique-front, .unique-back {
            width: 270px;
        }

        .unique-image-wrapper{
            justify-content: flex-start;
        }

        .unique-back{
            display: flex;
            flex-wrap: nowrap;
            font-size:14px;
            padding: 20px;
            
        }

        .unique-list {
            flex-wrap: nowrap;
            gap: 19px;
        }

        .unique-text {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 9;
        }

        .unique-item:last-child .unique-text{
            -webkit-line-clamp: 7;
        }

        .unique-img{
            width: 206px;
            padding: unset;
        }

        .unique-front{
            padding: 28px;
        }

        .unique-image-wrapper{
            /* padding: 28px 36px 0 28px; */
            margin-bottom: 36px;
        }

        .order-chockolate{
            order: unset;
        }
    
        .order-milk {
            order: unset;
        }

        .order-nuts {
            order: unset;
        }
        
        .order-coffee {
            order: unset;
        }
    }