/* Unique components */

.unique-section {
}

.unique-header {
    padding-top: 72px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
/* or 120% */

    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;

    color: var(--text-main-color);
    margin-bottom: 24px;
}

.unique-paragraph {
    text-align: center;
    margin-bottom: 24px;
}
.unique-list {

}
/* flip card */
.unique-item {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin-left: auto;
    margin-right: auto;
    
}
.unique-item:not(:last-child) {
    margin-bottom: 32px;
}
.unique-item:hover .flip-card {
    transform: rotateY(180deg);
}

.unique-front, .unique-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;}

/* flip-card-inner */
.flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform var(--animation-duration) var(--animation-function);
    transform-style: preserve-3d;

}
/* flip-card-front */
.unique-front{
    background-color: var(--background-third-color);

}
.unique-image-wrapper{display: flex;
justify-content: center;}
.unique-img {
    
    
}
.on-orange {

}
.unique-photo-subtitle {
    text-align: left;
}
/* flip-card-back */
.unique-back {
    background-color: var(--background-third-color);
    color: var(--text-main-color);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
.unique-back-title {

}
.btn-wrapper{
    display: flex;
    gap: 6px;
}
.unique-btn-orange {
    display: inline-block;

}
.unique-btn-white {
    display: inline-block;
}
.unique-text {
    text-align: left;

}
.on-white {
}
.on-black {
}
